.hidden {
  display: none; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

html {
  overflow-x: hidden; }

body {
  font-family: "Exo", sans-serif;
  overflow-x: hidden; }

header {
  width: 90%;
  height: 18vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; }

#background-forest {
  background-image: url(../images/zbynek-skrceny-background-unsplash.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100vh; }

#explore-landing-page-header {
  width: 90%;
  font-size: 5vw;
  font-weight: 900;
  text-align: center;
  line-height: normal; }

nav {
  z-index: 1; }

.nav-links li {
  display: inline;
  padding: 0px 20px;
  list-style: none; }

.hamburger {
  display: flex;
  direction: normal;
  flex-direction: column;
  align-items: center; }

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0vh;
  right: 0px;
  height: 100vh;
  background-color: #969696;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in; }

.nav-links li a {
  text-transform: uppercase;
  color: black;
  font-size: 4rem;
  font-weight: 700;
  text-decoration: none; }

.nav-links li {
  opacity: 0px; }

#intro-logo-container {
  /* nesting logo color*/ }
  #intro-logo-container #logo-content {
    height: 100vh;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
    margin: 0 auto; }
  #intro-logo-container #logo-content img {
    width: 600px;
    height: auto; }

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%; }

#introduction-button a {
  display: block;
  padding: 20px;
  width: 375px;
  height: 65px;
  border-style: none;
  border: 2px solid #444;
  text-align: center;
  color: black;
  text-decoration: none;
  background-color: transparent; }

#introduction-button {
  display: flex;
  justify-content: center;
  margin-top: 80px; }

.introduction p {
  font-size: 2vw;
  font-weight: 400;
  margin-top: 20px; }

.library-button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 18px; }

/*  when you click the burger  */
.nav-active {
  -o-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    -o-transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px); }
  to {
    opacity: 1px;
    -o-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0px); } }
.page-title-container {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; }

.page-title-container from {
  opacity: 0;
  -webkit-transform: translateX(50px);
  transform: translateX(50px); }

.page-title-container to {
  opacity: 1px;
  -webkit-transform: translateX(0%);
  transform: translateX(0px); }

.page-title-container {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; }

.page-title {
  font-size: 4vw;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 20px; }

.page-description {
  font-size: 1vw;
  margin-top: 20px;
  font-weight: 400; }

#grid-stack {
  display: flex;
  flex-direction: column;
  margin-top: 130px; }

.insect-grid {
  display: flex;
  -webkit-display: flex;
  justify-content: space-between;
  margin: 0 auto; }

.insect-grid .insect-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 450px;
  height: 450px;
  padding: 20px;
  margin-right: 30px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.insect-grid .insect-image img {
  cursor: pointer;
  width: 200px;
  height: auto;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -ms-transition: transform 300ms ease-in-out;
  -webkit-transition: transform 300ms ease-in-out; }

.insect-grid .insect-image img:hover {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */ }

.image-wrap {
  position: relative;
  width: 450px;
  height: 450px;
  overflow: hidden; }

.image-description {
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: 0.5px;
  overflow: hidden;
  position: absolute;
  padding: 40px;
  top: 340px;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transform: translate(0%, 10%);
  -ms-transform: translate(0%, 10%);
  transition: opacity 0.2s visibility 0.2s ease; }

.image-description p:nth-child(2) {
  font-size: 12px; }

.image-wrap:hover .image-description {
  visibility: visible;
  height: 10%;
  opacity: 1; }

.scientific-description {
  display: inline;
  list-style: none;
  text-decoration: none; }

.dim-image {
  opacity: 0.333; }

#vertical {
  overflow-y: hidden; }

#delay-button {
  overflow: visible; }

#button-menus-container {
  display: flex;
  align-items: center;
  width: 90%;
  height: 700px;
  padding: 10px;
  margin: 0 auto; }

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 225px;
  height: 600px; }

.back-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: white;
  margin-bottom: 80px;
  z-index: -1; }

.back-button img {
  width: 15px;
  height: 15px; }

.back-button:hover {
  transform: scale(1.1); }

.button-wrapper a {
  display: block;
  text-align: center;
  color: black;
  text-decoration: none; }

.button-stack {
  cursor: pointer;
  font-size: 0.9em;
  text-transform: uppercase;
  padding: 25px;
  width: 220px;
  height: 70px;
  border: 2px solid #444;
  margin-bottom: 50px;
  background-color: transparent; }

.button-stack:hover {
  background-color: rgba(66, 66, 66, 0.219); }

.hover-circle {
  transition: all 300ms; }

.threemodel {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 70%;
  height: 100%;
  margin: 0 auto; }

model-viewer {
  width: 100%;
  height: 700px;
  margin-left: 20px;
  background-color: #efefef67;
  z-index: 0;
  border-radius: 4px;
  overflow: hidden; }

.right-side-space {
  width: 15%;
  height: 100%;
  margin-left: 20px;
  padding: 20px;
  background-color: white; }

.right-side-space h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5em; }

.right-side-space p {
  margin-top: 20px;
  line-height: 1.5em; }
  .right-side-space p span {
    font-weight: 700; }

#start-button {
  cursor: pointer;
  margin-top: 90px; }

#start-button a {
  display: block;
  width: 375px;
  height: 65px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px;
  display: block;
  border-style: none;
  color: black;
  border: 2px solid #444;
  background-color: transparent; }

#insect-fullscreen {
  background-image: url(../images/insect-fullscreen.jpeg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100vh; }

canvas {
  display: block;
  width: 100%;
  height: auto;
  left: 50%;
  top: 50%; }

.dot {
  position: absolute;
  background-color: #ffffff;
  border: 2px solid #d4d4d4;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  cursor: pointer;
  /* animation */
  animation-name: glow;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

@keyframes glow {
  /* start at 0% to end 100% */
  0% {
    box-shadow: 0 0 2px rgba(167, 167, 167, 0.7); }
  100% {
    box-shadow: 0 0 15px #e4e1e2; } }
#dot0 {
  left: 49%;
  bottom: 38%; }

#dot1 {
  bottom: 83%;
  right: 46%; }

#dot2 {
  bottom: 36%;
  right: 32%; }

.info-styling {
  position: absolute;
  width: 200px;
  height: 420px;
  padding: 20px;
  border-radius: 4px; }

.info-styling h2 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 15px; }

.info-styling p {
  line-height: 1.5;
  margin-bottom: 10px; }

#videoPlayer {
  max-width: 100%;
  height: auto;
  left: 50%;
  top: 50%;
  background-color: lightgray;
  overflow: hidden;
  margin-left: 20px;
  border-radius: 4px;
  overflow: hidden; }

#videoPlayer video {
  width: 100%;
  height: 100%; }

.stag-male-dimension {
  width: 170px;
  height: initial;
  position: absolute;
  font-size: 12px;
  line-height: 1.6;
  left: 9%;
  bottom: 30%; }

#data-container {
  display: flex;
  width: 90%;
  height: 70px;
  padding: 10px;
  margin: 0 auto; }

.bionomics {
  display: flex;
  width: 90%;
  height: auto;
  padding: 10px;
  margin: 0 auto;
  margin-top: 100px; }

.bionomics-title-container {
  display: flex;
  flex-direction: column; }

.bionomics-title-container h3 {
  font-size: 4vw;
  font-weight: 700; }

.bionomics-title-container p {
  width: 90%;
  margin-top: 20px;
  line-height: 1.5;
  max-width: 900px; }

.data-story {
  width: 100%;
  height: 100%;
  margin-top: 60px; }

.data-story h4 {
  line-height: 1.5;
  font-size: 2em; }

.data-story span {
  font-weight: 600; }

input {
  background-color: #919191;
  height: 3px; }

input[type="range"] krange-thumb {
  width: 8%;
  height: 850%;
  border-radius: 33px;
  background-color: #a8a8a8;
  overflow: hidden; }

input[type="range"]::-moz-range-thumb {
  width: 8%;
  height: 850%;
  border-radius: 33px;
  background-color: #a8a8a8;
  overflow: hidden; }

input[type="range"]::-webkit-range-thumb {
  width: 8%;
  height: 850%;
  border-radius: 33px;
  background-color: #a8a8a8;
  overflow: hidden; }

.chart-container {
  margin-top: 20px; }

#columnchart-mask-one {
  width: 1000px;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px; }

#columnchart-mask-two {
  width: 1000px;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px; }

#insect-cycle-grid {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 170px; }

#insect-cycle-grid-2 {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 330px; }

#insect-cycle-grid-3 {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 330px; }

#insect-cycle-grid-4 {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 330px; }

.insect-cycle-stlye {
  width: 40%;
  height: 100%; }
  .insect-cycle-stlye h3 {
    position: absolute;
    bottom: 94%;
    right: 30%;
    font-size: 84px;
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 0.2; }
  .insect-cycle-stlye h4 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 36px; }
  .insect-cycle-stlye p {
    line-height: 1.8;
    margin-top: 20px; }

.insect-cycle-image {
  position: relative;
  max-width: 50%;
  height: 100%; }

.insect-cycle-image img {
  width: 100%;
  height: 100%;
  background-color: lightslategrey;
  border: 1px solid #444;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 8px 6px -6px rgba(39, 39, 39, 0.486); }

.insect-cycle-image img:nth-child(2) {
  width: 64%;
  height: 60%;
  position: absolute;
  top: 64%;
  left: 32%; }

.insect-cycle-stlye-2 {
  width: 40%;
  height: 100%; }
  .insect-cycle-stlye-2 h3 {
    position: absolute;
    bottom: 80%;
    right: 64%;
    font-size: 84px;
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 0.2; }
  .insect-cycle-stlye-2 h4 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 36px; }
  .insect-cycle-stlye-2 p {
    line-height: 1.8;
    margin-top: 20px; }

.insect-cycle-stlye-3 {
  width: 40%;
  height: 100%; }
  .insect-cycle-stlye-3 h3 {
    position: absolute;
    bottom: 84%;
    right: 73%;
    font-size: 84px;
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 0.2; }
  .insect-cycle-stlye-3 h4 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 36px; }
  .insect-cycle-stlye-3 p {
    line-height: 1.8;
    margin-top: 20px; }

.insect-cycle-stlye-4 {
  width: 40%;
  height: 100%; }
  .insect-cycle-stlye-4 h3 {
    position: absolute;
    bottom: 92%;
    right: 89%;
    font-size: 84px;
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 0.2; }
  .insect-cycle-stlye-4 h4 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 36px; }
  .insect-cycle-stlye-4 p {
    line-height: 1.8;
    margin-top: 20px; }

footer {
  display: flex;
  margin-top: 200px; }

/*# sourceMappingURL=main.css.map */
