@charset "UTF-8";

.hidden {
  display: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Exo", sans-serif;
}

// Sass Variables
$landing-page-text: 4vw;
$exo-header: 1vw;
$exo-subheader: 1vw; 
$exo-regular: 1vw;

// introduction text size
#explore-landing-page-header {
  width: 1000px;
  font-size: $landing-page-text;
  text-align: center;
  line-height: normal;
}


header {
	width: 90%;
	height: 18vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.nav-links li {
	display: inline;
	padding: 0px 20px;
	list-style: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0vh;
  right: 0px;
  height: 100vh;
  background-color: rgba(155, 155, 155, 0.459);
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
}

.nav-links li a {
  text-transform: uppercase;
  color:black;
  font-size: 4rem;
  font-weight: $exo-header;
  text-decoration: none;
 
}
.nav-links li {
  opacity: 0px;

}

#intro-logo-container {
  /* nesting logo color*/
  #logo-content{
    height: 100vh;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: both;
    overflow: auto;
    margin: 0 auto;

  }

  #logo-content img {
    width: 600px;
    height: auto;
 
  }
}

// landing page content
.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

#introduction-button {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
// button styling
#introduction-button button {
  padding: 20px;
  width: 375px;
  height: 65px;
  border-style: none;
  border: 2px solid #444;
  background-color: white;
}

.introduction p {
  font-size: 2vw;
  font-weight: 400;
  margin-top: 20px;
}

.library-button {
  cursor: pointer;
  font-size: 18px;
}

/*  when you click the burger  */

.nav-active {
	-o-transform: translateX(0%);
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		-o-transform: translateX(50px);
		-webkit-transform: translateX(50px);
		-moz-transform: translateX(50px);
		-ms-transform: translateX(50px);
		transform: translateX(50px);
	}
	to {
		opacity: 1px;
		-o-transform: translateX(0%);
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		transform: translateX(0px);
	}
}